@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Additional styles for blinking cursor animation */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.blink {
  animation: blink 1s infinite;
}

html,
body {
  /* @apply bg-white dark:bg-gray-950; */
  @apply bg-gray-900 p-4 font-mono text-green-400;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
